* {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.ibm-plex-sans-thin {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-sans-extralight {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-sans-light {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-sans-regular {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-sans-medium {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-sans-semibold {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-sans-bold {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-sans-thin-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex-sans-extralight-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex-sans-light-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex-sans-regular-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-sans-medium-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-sans-semibold-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-sans-bold-italic {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

:root {
  --main-bg-color: #121212;
  --secondary-color: #ff4500;
  --stroke-color: #3e4142;
  --text-color: #f2f2f2;
  --modal-color: #181c1f;
  --footer-nav-color: #0e1113;
  --descriptional-color: #b8c5c9;
  --button-color: #2a3236;
  --wasd-arrow: #2a3236;
}

body {
  background-color: var(--main-bg-color);
  user-select: none;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--footer-nav-color);
  border-bottom: var(--stroke-color) solid 1px;
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 74px;
}

.navbar-text ul li {
  margin-right: 57px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  color: var(--text-color);
  font-size: 24px;
  list-style: none;
  display: inline-flex;
  transition: color 0.1s ease;
  position: relative;
}

.navbar-text ul li.active a {
  color: var(--secondary-color);
}

.navbar-text li a:hover {
  color: var(--secondary-color);
}

.navbar-text ul li .icon {
  display: none; /* Hide by default */
  position: absolute;
  bottom: -10px; /* Adjust as needed for spacing */
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 8px;
}

.navbar-text ul li.active .icon {
  display: block;
}

.navlogo {
  margin-left: 35px;
  margin-top: 14px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  color: var(--secondary-color);
  font-size: 36px;
  margin-top: 27px;
  height: 100%;
  display: flex;
}

.navlogo a {
  text-decoration: none;
  color: var(--secondary-color);
}

.navbar-text li a {
  text-decoration: none;
  color: var(--text-color);
}

.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  padding-left: 21px;
  padding-bottom: 21px;
  padding-top: 21px;
  width: 100%;
  background-color: var(--footer-nav-color);
  border-top: var(--stroke-color) solid 1px;
  height: 32px;
}

.footerlinks {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.footerlinks li {
  list-style: none;
}

.divider {
  display: flex;
  width: 2px;
  background-color: var(--secondary-color);
}

.mail-icon-wrapper {
  display: flex;
  align-items: center;
}

.github-icon-wrapper {
  display: flex;
  align-items: center;
}

.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  /* background-color: green; */
  height: calc(100dvh - 75px - 75px);
  position: relative;
}

.textcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  color: var(--text-color);
  font-size: 38px;
  /* background-color: darkgray; */
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  max-width: 1280px;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.main {
  position: relative;
}

#home-p {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--descriptional-color);
  font-size: 30px;
}

.home-buttons {
  display: flex;
  gap: 64px;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  margin-top: 42px;
}

.contact-me {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  background-color: var(--secondary-color);
  border: none;
  color: var(--text-color);
  padding: 20px 79px;
  border-radius: 25px;
  font-size: 24px;
  border: var(--stroke-color) solid 1px;
  cursor: pointer;
}

.download-cv {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  background-color: var(--button-color);
  border: none;
  color: var(--text-color);
  padding: 20px 79px;
  border-radius: 25px;
  font-size: 24px;
  border: var(--stroke-color) solid 1px;
  cursor: pointer;
}

.gamesettings {
  background-color: var(--modal-color);
  border: var(--stroke-color) solid 1px;
  border-radius: 25px;
  display: flex;
  width: 400px;
  height: 600px;
  justify-content: space-around;
  flex-direction: column;
  display: none;
  /* temporarily hidden until the development of the snake game is done */
}

.thnakelogo {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 44px;
}

.wasd {
  display: flex;
  width: 200px;
  justify-content: center;
  background-color: var(--wasd-arrow);
  padding: 29px;
  border-radius: 25px;
  border: var(--stroke-color) solid 1px;
}

.arrow {
  display: flex;
  width: 200px;
  justify-content: center;
  background-color: var(--wasd-arrow);
  padding: 29px;
  border-radius: 25px;
  border: var(--stroke-color) solid 1px;
}

.keybind {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 26px;
  text-align: center;
  color: var(--descriptional-color);
  font-size: 20px;
}

.gamebuttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 22px;
}

.start-game {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  border: none;
  background-color: var(--secondary-color);
  border: var(--stroke-color) solid 1px;
  border-radius: 25px;
  width: 150px;
  height: 50px;
  color: var(--text-color);
  font-size: 20px;
  cursor: pointer;
}

.settings {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  border: none;
  background-color: var(--button-color);
  border: var(--stroke-color) solid 1px;
  border-radius: 25px;
  width: 150px;
  height: 50px;
  color: var(--text-color);
  font-size: 20px;
  cursor: pointer;
}

.body-1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
}

.navlogo-footer {
  display: none;
}

.hamburger-menu {
  display: none;
}

.M-icon {
  display: none;
}

/* FOOTER RESPONSIVE */
@media screen and (max-width: 768px) {
  .nav-container {
    display: none;
    justify-content: center;
    position: absolute;
    height: 100%;
    top: 100px;
    width: 100%;
    border: none;
    visibility: hidden;
  }

  .navbar-text ul {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Align items in the center horizontally */
    justify-content: center; /* Align items in the center vertically */
    height: 100%;
    gap: 60px;
  }

  .navbar-text {
    z-index: 15;
    top: -250px;
    font-size: 25px;
    left: 88%;
  }

  .navbar {
    height: 0;
    width: 0;
  }

  .m-navbar li.active {
    color: var(--secondary-color); /* Change text color */
    font-weight: 600;
    position: relative;
  }

  /* Show underline SVG */
  .m-navbar li.active img {
    display: block; /* Ensure it's visible */
  }

  /* Hide underline SVG for non-active items */
  .m-navbar li img {
    display: none;
  }

  .m-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    align-items: center;
    color: var(--text-color);
    left: 48%;
    top: 35%;
    transform: translate(
      -50%,
      -50%
    ); /* Shifts it back by half its own width & height */
    text-align: center;
    list-style: none;
    opacity: 0; /* Initially hidden */
    visibility: hidden; /* Initially hidden */
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out; /* Smooth transition */
  }

  .m-navbar.openm {
    opacity: 1; /* Make visible when opened */
    visibility: visible; /* Ensure visible when opened */
  }

  .m-navbar li {
    display: flex;
    flex-direction: column; /* Stack icon below the text */
    align-items: center;
    padding: 20px;
    font-size: 30px !important;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    opacity: 0; /* Initially hidden */
    transform: translateY(-20px); /* Slightly move the elements up */
    animation: fadeIn 0.5s ease forwards; /* Add fade-in animation */
    animation-delay: 0.5s; /* Wait 1 second before starting animation */
  }

  .m-navbar li:nth-child(1) {
    animation-delay: 1s; /* Delay for each item */
  }

  .m-navbar li:nth-child(2) {
    animation-delay: 1.2s; /* Delay for each item */
  }

  .m-navbar li:nth-child(3) {
    animation-delay: 1.4s; /* Delay for each item */
  }

  .m-navbar li:nth-child(4) {
    animation-delay: 1.6s; /* Delay for each item */
  }

  .m-navbar li img {
    padding-top: 5px;
  }

  /* Keyframes for fadeIn animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px); /* Start from above */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* End at the normal position */
    }
  }

  #home,
  #about-me,
  #projects,
  #contact-me {
    padding: 30px;
    font-size: 25px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
  }

  .footer-container {
    max-width: 100%;
  }

  .navlogo-footer {
    visibility: visible;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    color: var(--secondary-color);
    font-size: 30px;
    height: 100%;
    width: fit-content;
    display: flex;
  }

  .footerlinks {
    justify-content: space-between;
    width: 90%;
  }

  .divider {
    display: none;
  }
}

/* TEMPORARY MAIN NONE */
@media screen and (max-width: 768px) {
  .navlogo {
    display: none;
  }
  .navbar-text {
    visibility: visible; /* Ensure children remain visible */
    position: relative; /* Keep layout intact */
  }

  .container {
    flex-wrap: wrap-reverse;
    gap: 0;
    height: 90%;
  }
  .wasd {
    display: none;
  }
  .arrow {
    display: none;
  }

  .gamesettings {
    height: 200px;
    width: 362px;
  }

  .thnakelogo {
    gap: 0;
  }

  .gamesettings p {
    display: none;
  }

  .textcontent {
    text-align: center;
    width: 100%;
  }

  p {
    font-size: 22px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 30px;
  }
  .home-buttons {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 24px;
  }
  .contact-me {
    border-radius: 50px;
    height: 56px;
    width: 330px;
    font-size: 22px;
    justify-content: center;
    padding: 0;
  }
  .download-cv {
    border-radius: 50px;
    height: 56px;
    width: 330px;
    font-size: 22px;
    text-wrap: nowrap;
    padding: 0;
  }
  /* .main {
    overflow: hidden; temporarily disabled for navbar mobile
  } */

  /* Use pseudo elements before on the hamburger menu
  make it 2px bigger cause border is 1px. Center it behind the hamburger menu backgground and in the center
  before elements must give them content property
  .hamburger-menu:before {
    content: '';
  } */

  .hamburger-menu {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-left: 1px solid var(--stroke-color);
    border-right: 1px solid var(--stroke-color);
    border-top: 1px solid var(--stroke-color);
    border-bottom: none;
    background-color: var(--footer-nav-color);
    width: 56px;
    height: 30px;
    position: absolute;
    left: calc(50vw - 25px);
    top: 0px;
    display: flex;
    align-items: end;
    justify-content: center;
    transform: rotate(360deg) translateY(-98%);
    cursor: pointer;
    z-index: 10;
  }

  .hamburger-menu img {
    width: 30px;
    height: 20px;
    /* transform: rotate(180deg) translateY(100%); */
  }

  .open {
    height: 85%;
    display: flex;
    align-items: end;
    transition: height 0.4s ease-in-out;
  }

  .close {
    display: flex;
    align-items: end;
    transition: height 0.4s ease-in-out;
  }
}
